*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    height: 130svh;
    background-color: #000;
    background-image: url('images/Dusit Thani Mactan Cebu Resort.png');
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}
header{
    position:relative;
    padding: 0 2rem;
}
.nvbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: auto;
}

.nvbar .logo img{
    width: 80px;
    height: 80px;
}

.nvbar .links{
    display: flex;
    gap: 2rem;

}

.nvbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;

}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigt .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}

.dropdown_menu.open{
    height: 255px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

section#hero{
    height: calc(100svh - 100px); 
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;

}


@media (max-width:992px){
    .nvbar .links,
    .nvbar .action_btn{
        display: none;
    }
    .nvbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    background-color: white;
    color: #000;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}


.home-link {
    font-weight: bold;
    color: orange;
    
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(54, 53, 53, 0.3); 
    padding: 20px;
    margin-top: 20px;
}

.contact-info {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
}

.map-container {
    margin-top: 20px;
}
